<div class="title"><h1><u> Lista de Utiles Escolares </u></h1></div>
<div class="container">
    <form [formGroup]="form" class="formboton">
        <div class="fila1">
            <button class="btnadicion mas" mat-button (click)="adicionUtil()">+</button>
            <button class="btneliminar eliminar" mat-button (click)="eliminarTodo()">Eliminar Todo</button>
        </div>
        <br>
        <hr>
        <div class="contenedor-utiles" formArrayName="utiles">
            <div class="contenido1" *ngFor="let s of getUtiles.controls; let i = index " [formGroupName]="i">
                <mat-form-field class="input" appearance="legacy">
                    <mat-label>Utiles Escolares</mat-label>
                    <input matInput placeholder="Utiles Escolares" formControlName="utilNuevo" autocomplete="off">
                    <small *ngIf="s.invalid">Solo se admiten letras</small>
                </mat-form-field>
                <mat-checkbox class="example-margin  " formControlName="check">Aceptar</mat-checkbox>
                <button class="btneliminar22" mat-button (click)="deleteUtilEscolar(i)">Eliminar</button>           
            </div>
        </div>

        <br>
        <hr>
        <div class="fila3">
            <button class="btnguardar" mat-button (click)="guardar()" [disabled]="invalido">Guardar</button>
            <button class="btnlimpiar" mat-button (click)="limpiar()">Limpiar</button>
        </div>
    </form>

    <div class="container1">
        <p>
            {{ listaUtiles.join('\n') | uppercase }}
        </p>
    </div>
</div>